/* Reset CSS Start Here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  outline: none;
  cursor: pointer;
  user-select: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}
/* Reset CSS End Here */
